<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lernapp</title>
</head>
<body>
    <h1>Willkommen zur IHKademy!</h1>
    <p>Gehe zur <a href="/hello">Willkommensseite</a></p>
    <p>Gehe zur <a href="/lerntypanalyse">Lerntypanalyse</a></p>
    <p>Gehe zum <a href="/example">Beispieltest</a></p>
    <p>Gehe zur <a href="/chatgpt">Kundensimulation</a></p>
    <p>Gehe zur <a href="/notenziel">Notenzieleingabe</a></p>
</body>
</html>
