<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notenziel</title>
</head>
<body>
    <h1>Notenziel</h1>
    {% if confirmation %}
        <p>Hallo, {{ name }}!</p>
        <p>Dein Notenziel wurde {{ confirmation }}</p>
        <p>Deine Prüfung ist in {{ day_until_exam }} Tagen</p>
    {% else %}
        <form action="/" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="notenziel">Notenziel:</label>
            <input type="text" id="notenziel" name="notenziel" required>
            <br>
            <label>Datum der Prüfung:</label>
            <input type="text" id="day" name="day" required>
            <input type="text" id="month" name="month" required>
            <input type="text" id="year" name="year" required>
            <br>
            <button type="submit">Absenden</button>
        </form>
    {% endif %}
    {% if can_go_home %}
        <p><a href="/home">Zur homepage</a></p>
    {% endif %}
</body>
</html>
